{% extends "Layout.twig" %}
{% block content %}

<section class="w-3/5">
    <div id="profile-container" class="relative mb-6">
        <img class="block w-full h-72 object-cover" src="./img/channels/{{ channel.id }}/thumbnails/{{ channel.thumbnail }}" alt="Photographie du site Droit et Science Politique de La Rochelle Université." />

        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-center items-center w-2/5 h-30 bg-black/[.6] border-white border-2 border-solid text-white text-3xl font-semibold">
            {{ channel.name }}
        </div>

        <div class="absolute bottom-0 w-full flex justify-between items-center p-4">
            <div class="flex flex-row justify-center items-center gap-x-2 px-4 py-2 bg-gray-200 rounded-md">
                <div class="size-4 rounded-full bg-green-700"></div>
                <p>
                    1 en ligne
                </p>
            </div>

            <p class="flex flex-row justify-center items-center gap-x-2 px-4 py-2 bg-gray-200 rounded-md hover:cursor-pointer" onclick="showChannelActions(event);">
                Actions&nbsp;&nbsp;<i class="fa-solid fa-caret-down"></i>
            </p>
        </div>
    </div>

    <div class="flex flex-row justify-between items-start">
        <nav class="w-1/5 border-r-gray-200 border-r-2 border-r-solid">
            <button type="button" id="default-opened-tab" class="channel-tablink text-left w-full p-4 border-b-gray-200 border-b-solid border-b-2 text-lg hover:bg-gray-200 hover:cursor-pointer transition-all duration-200" onclick="openChannelTab(event, 'overview');">
                Vue d'ensemble
            </button>

            <button type="button" class="channel-tablink text-left w-full p-4 border-b-gray-200 border-b-solid border-b-2 text-lg hover:bg-gray-200 hover:cursor-pointer transition-all duration-200" onclick="openChannelTab(event, 'documents');">
                Documents
            </button>

            <button type="button" class="channel-tablink text-left w-full p-4 border-b-gray-200 border-b-solid border-b-2 text-lg hover:bg-gray-200 hover:cursor-pointer transition-all duration-200" onclick="openChannelTab(event, 'members');">
                Membres
            </button>

            <button type="button" class="channel-tablink text-left w-full p-4 border-b-gray-200 border-b-solid border-b-2 text-lg hover:bg-gray-200 hover:cursor-pointer transition-all duration-200" onclick="openChannelTab(event, 'settings');">
                Paramètres
            </button>
        </nav>

        <div class="w-4/5">
            <div id="overview" class="channel-tabcontent hidden flex-col justify-start items-start p-4">

                <div>
                    <form class="flex flex-row justify-center items-center gap-x-4 mx-auto p-6" onsubmit="sendPost(event, '{{ channel.id }}');">
                        <img class="size-24 rounded-full" src="./img/assets/icons/picture_user.png" alt="User's profile picture." />
                        <div class="w-full h-full">
                            <div id="channel-editor" class="w-full h-auto border-6 border-solid border-gray-200 rounded-xl p-4"></div>
                            <input type="submit" class="px-4 py-2 rounded-md w-full border-gray-200 border-2 border-solid hover:bg-gray-400 hover:cursor-pointer my-4" value="Envoyer" />
                        </div>
                    </form>
                </div>

                {% include './Components/ChannelPostsList.twig' with {posts: posts, loggedUser: user} %}
                
            </div>

            <div id="documents" class="channel-tabcontent hidden flex-col p-4">
                <h2>Documents de ce channel</h2>

                {% for file in attachments %}
                    {% include './Components/AttachmentCard.twig' with {file: file, user: user} %}
                {% endfor %}
            </div>

            <div id="members" class="channel-tabcontent hidden p-4">
                <h2>Liste des membres</h2>

                <div class="grid grid-cols-2 grid-rows-10 gap-4 my-4">
                    {% for member in members %}
                        {% include './Components/SmallerUserCard.twig' with {user: member} %}
                    {% endfor %}
                </div>
            </div>

            <div id="settings" class="channel-tabcontent hidden p-4">
                <h2>Paramètres du channel</h2>

                <div class="my-4">
                    <button class="w-fit bg-gray-200/[.6] border-red-800 border-2 border-solid text-stone-800 px-4 py-2 hover:cursor-pointer hover:bg-red-800 hover:text-white duration-200 transition-all">
                        <i class="fa-solid fa-person-circle-xmark"></i>&nbsp;&nbsp;Quitter le channel
                    </button>

                    <div class="flex flex-row justify-start items-center gap-x-2 my-4">
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" value="" class="sr-only peer" checked>
                            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"></div>
                        </label>

                        <p>
                            Masquer mes informations personnelles aux autres utilisateurs (pseudo, prénom, nom, adresse e-mail, avatar). Cela concerne les channels, la diffusion des offres d'emploi / stage ainsi que toute autre information visible aux autres utilisateurs sur ce site Web. Seuls les administrateurs sont habilités à voir et traiter ces informations.
                        </p>
                    </div>

                    {% if user.id == channel.founder.id %}
                    
                    {# Admin: Exclusion, modify title, thumbnail, visibility #}

                    <div class="my-6">
                        <h2 class="mb-4">Espace admin</h2>
                        <form action="#" onsubmit="event.preventDefault();">
                            <p class="my-6 text-lg/[2.5]">
                                &#x24D8;&nbsp;&nbsp;Pour les champs texte, appuyez sur la touche 'Entrée' pour valider les changements.<br />
                                &#x24D8;&nbsp;&nbsp;Vous devrez recharger la page à chaque modification pour vérifier si la mise à jour a été effectuée.
                            </p>
                            <table class="w-full">
                                <tr>
                                    <td>
                                        <div class="mx-auto">
                                            <label for="modify-channel-title" class="mb-4 underline">Modifier le nom du channel</label><br />
                                            <input type="text" id="modify-channel-title" name="channel-title" class="px-4 py-2 border-gray-400 border-solid border-2 rounded-md" value="{{ channel.name }}" placeholder="Nom du channel..." onkeyup="updateChannelData(event, '{{ channel.id }}');" />
                                        </div>

                                        <div class="mx-auto">
                                            <label for="modify-channel-title" class="mb-4 underline">Modifier la description du channel</label><br />
                                            <textarea id="modify-channel-description" name="channel-description" class="w-3/4 px-4 py-2 border-gray-400 border-solid border-2 rounded-md" placeholder="Nom du channel..." onkeyup="updateChannelData(event, '{{ channel.id }}');">{{ channel.description }}</textarea>
                                        </div>
                                    </td>
    
                                    <td>
    
                                        <div class="flex flex-col justify-center items-center gap-y-4">
                                            <img id="thumbnail-settings-preview" class="size-40 object-cover" src="./img/channels/{{ channel.id }}/thumbnails/{{ channel.thumbnail }}" alt="Miniature du channel : {{ channel.name }}" />
    
                                            <label for="settings-change-thumbnail" class="w-40 px-4 py-2 my-4 border-solid border-2 border-gray-300 hover:cursor-pointer hover:bg-gray-300 transition-all duration-200">
                                                Modifier la miniature du channel
                                            </label>
                                        </div>
    
                                        <input type="file" id="settings-change-thumbnail" class="hidden" onchange="updateChannelThumbnail(event, '{{ channel.id }}');" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <button class="flex mx-auto w-fit bg-gray-200/[.6] border-red-800 border-2 border-solid text-stone-800 px-4 py-2 hover:cursor-pointer hover:bg-red-800 hover:text-white duration-200 transition-all" onclick="openChannelDeletion();">
                                            <i class="fa-solid fa-person-circle-xmark"></i>&nbsp;&nbsp;Dissoudre le channel
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </form>

                    </div>

                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% if user.id == channel.founder.id %}
<dialog id="confirm-channel-deletion" class="hidden relative z-10">

	<div class="fixed inset-0 bg-black/[.4] rounded-3xl transition-opacity" aria-hidden="true"></div>

	<div class="fixed top-1/2 left-1/2 translate-y-[-50%] -translate-x-1/2 w-1/2 h-fit block justify-center items-center inset-0 z-10 rounded-b-lg sm:overflow-y-hidden overflow-y-auto bg-gray-200 p-6">
        <h2 class="text-center">Confirmez-vous la suppression du channel ?</h2>
        <p class="my-4">
            Cela entraînera la perte de toutes ses publications, miniatures, et ne sera plus visible sur la plateforme.
        </p>

        <div class="my-6">
            <p class="underline">
                Entrez votre mot de passe pour confirmer la suppression du canal.
            </p>

            <form action="#" onsubmit="deleteChannel(event, '{{ channel.id }}');">
                <input type="password" id="remove-channel-user-password" name="password" placeholder="Votre mot de passe..." class="px-4 py-2 rounded-md border-2 border-gray-400 border-solid" /><br />
                
                <div class="flex flex-row justify-center items-center gap-x-4 my-4">
                    <button id="close-confirm-channel-deletion" class="px-4 py-2 rounded-md bg-red-800 border-red-800 border-2 border-solid hover:bg-transparent hover:cursor-pointer transition-all duration-200 text-lg w-1/4">
                        Annuler
                    </button>
                    
                    <button class="px-4 py-2 rounded-md bg-transparent border-blue-800 border-2 border-solid hover:bg-blue-800 hover:cursor-pointer transition-all duration-200 text-lg w-1/4">
                        Valider
                    </button>
                </div>
            </form>
        </div>
    </div>

</dialog>

<dialog id="create-report-post" class="hidden relative z-10">
    <div class="fixed inset-0 bg-black/[.4] rounded-3xl transition-opacity" aria-hidden="true"></div>

    <div class="fixed top-1/2 left-1/2 translate-y-[-50%] -translate-x-1/2 w-1/2 h-fit justify-center items-center inset-0 z-10 rounded-b-lg sm:overflow-y-hidden overflow-y-auto bg-gray-200 p-6">

        <div id="close-create-report-post" class="float-right text-3xl text-red-800 hover:cursor-pointer">
            &times;
        </div>

        <h2 class="text-center">Signaler la publication</h2>
        <p class="my-4">
            Vous souhaitez signaler un problème sur cette publication ? Veuillez nous en faire part en nous fournissant les informations suivantes :
        </p>
        <ul class="list-disc list-inside">
            <li>Le sujet du signalement (titre du post, contenu du post, etc.)</li>
            <li>La description du signalement (détails sur le problème, etc.)</li>
            <li>Des pièces jointes pour appuyer le signalement</li>
        </ul>

        <form action="./report/create" method="POST" enctype="multipart/form-data">
            <select name="report-topic" id="report-topic" oninput="checkIfOther(event, 'report-topic-other');" class="px-4 py-2 bg-gray-50 rounded-md my-4">
                <option value="">Sujet du rapport</option>
                <option value="Discours haineux">Discours haineux</option>
                <option value="Contenu à caractère pédopornographique">Contenu à caractère pédopornographique</option>
                <option value="Contenu à caractère terroriste">Contenu à caractère terroriste</option>
                <option value="Propos discriminatoires">Propos discriminatoires</option>                
                <option value="Autre">Autre</option>
            </select>
            <input type="hidden" name="report-type" value="channelPost" />
            <input type="hidden" id="report-channel-post-id" name="entityId" value="" />
            <input type="text" id="report-topic-other" name="report-topic-other" placeholder="Topic du rapport..." class="hidden px-4 py-2 rounded-md border-2 border-gray-400 border-solid" />
            <textarea id="report-description" name="report-description" placeholder="Description du rapport..." class="w-full px-4 py-2 my-4 border-2 border-gray-400 border-solid"></textarea>
            <label class="underline" for="report-attachments">Pièces jointes :</label><br />
            <input id="report-attachments" name="report-attachments[]" class="bg-gray-300 px-4 py-2 rounded-md my-4 w-fit hover:cursor-pointer hover:bg-gray-50 transition-all duration-200" type="file" multiple />
            <input type="submit" value="Envoyer" class="px-4 py-2 rounded-md bg-blue-800 border-blue-800 border-2 border-solid hover:bg-transparent hover:cursor-pointer transition-all duration-200 text-lg w-full" />
        </form>
    </div>
</dialog>
{% endif %}

{% endblock content %}

{% block js %}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/attaches@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@2"></script>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>

<script src="./js/Frontend.js"></script>
<script src="./js/ChannelEditor.conf.js"></script>
<script src="./js/AuthManager.js"></script>
<script src="./js/ChannelUtils.js"></script>

<script>
    window.onload = () => {
        refreshPosts('{{ channel.id }}');
    }

    const openChannelTab = (e, target) => {
        let frontend = new Frontend();

        frontend.openTab('channel-tablink', 'channel-tabcontent', target)
    }

    document.getElementById('default-opened-tab').click();
</script>
{% endblock js %}