{% extends "Layout.twig" %}
{% block content %}

<section id="user-container" class="w-3/5">
    <div id="profile-container" class="relative mb-36">
        <img class="block w-full h-72 object-cover" src="./img/assets/site/lru_droit.jpg" alt="Photographie du site Droit et Science Politique de La Rochelle Université." />

        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-center items-center w-2/5 h-30 bg-black/[.6] border-white border-2 border-solid text-white text-3xl font-semibold">
            Mon espace perso
        </div>

        <div class="absolute top-1/2 left-5 translate-y-1/5 flex flex-row justify-start items-baseline gap-x-4">
            {# User profile overview #}
            <img class="block rounded-full size-50" src="./img/users/{{ user.id }}/profile_pictures/{{ user.userData.avatar }}" alt="" />

            <div class="m-auto pt-20">
                <p class="text-3xl font-semibold">
                    {{ user.userData.firstName ~ ' ' ~ user.userData.lastName ~ ' - ' ~ user.username }}<br />
                    
                </p>
    
                <a href="mailto:{{ user.emailAddress }}" class="text-sky-600 italic" title="{{ user.emailAddress }}">
                    &lt;{{ user.emailAddress }}&gt;
                </a>
            </div>
        </div>
    </div>

    <div class="mt-36">
        {# User modifications tabs (profile, manage channels and posts) #}
        <div class="flex flex-row justify-between items-center">
            <div class="tablink-dashboard tablink-dashboard-active w-1/3 border-b-4 border-b-stone-700 border-b-solid text-2xl/15 text-center font-semibold hover:bg-gray-200 hover:cursor-pointer transition-all duration-200" onclick="openDashboardTab(event, 'dashboard-channels-management');">
                Mes channels
            </div>

            <div class="tablink-dashboard w-1/3 border-b-4 border-b-stone-700 border-b-solid text-2xl/15 text-center font-semibold hover:bg-gray-200 hover:cursor-pointer transition-all duration-200" onclick="openDashboardTab(event, 'dashboard-job-applications-management');">
                Mes candidatures
            </div>

            <div class="tablink-dashboard w-1/3 border-b-4 border-b-stone-700 border-b-solid text-2xl/15 text-center font-semibold hover:bg-gray-200 hover:cursor-pointer transition-all duration-200" onclick="openDashboardTab(event, 'dashboard-settings');">
                Paramètres & Mon profil
            </div>
        </div>

        <div class="p-6">
            <div id="dashboard-channels-management" class="tabcontent-dashboard">
                <div class="flex flex-col gap-y-6">
                    {% for channel in global_user_channels %}
                        {% include './Components/ChannelCard.twig' with {channel: channel.channel, dashboard: true} %}
                    {% endfor %}
                </div>
            </div>

            <div id="dashboard-job-applications-management" class="tabcontent-dashboard hidden">

                <div class="flex flex-col gap-y-6">
                    {% for offer in jobOffers %}
                        {% include './Components/JobOfferCard.twig' with {offer: offer, savedOffers: savedOffers} %}
                    {% endfor %}
                </div>

            </div>

            <div id="dashboard-settings" class="tabcontent-dashboard hidden">
                <div class="flex flex-row justify-between">
                    <div class="flex flex-col justify-start items-start w-1/4 border-r-2 borderr-gray-700 border-r-solid">
                        <button type="button" class="tablink-dashboard-settings tablink-dashboard-settings-active w-full p-4 hover:bg-gray-300 hover:cursor-pointer transition-all duration-200 text-left border-b-gray-300 border-b-solid border-b-2" onclick="openDashboardSettingsTab(event, 'settings-general-information');">
                            Mes informations générales
                        </button>
    
                        <button type="button" class="tablink-dashboard-settings w-full p-4 hover:bg-gray-300 hover:cursor-pointer transition-all duration-200 text-left border-b-gray-300 border-b-solid border-b-2" onclick="openDashboardSettingsTab(event, 'settings-student-information');">
                            Mon profil académique
                        </button>
    
                        <button type="button" class="tablink-dashboard-settings w-full p-4 hover:bg-gray-300 hover:cursor-pointer transition-all duration-200 text-left border-b-gray-300 border-b-solid border-b-2" onclick="openDashboardSettingsTab(event, 'settings-user-job-information');">
                            Mon profil travailleur
                        </button>
    
                        <button type="button" class="tablink-dashboard-settings w-full p-4 hover:bg-gray-300 hover:cursor-pointer transition-all duration-200 text-left border-b-gray-300 border-b-solid border-b-2" onclick="openDashboardSettingsTab(event, 'settings-privacy');">
                            Confidentialité & sécurité
                        </button>
                    </div>
    
                    <div class="w-3/4">
                        <form id="settings-general-information" class="tabcontent-dashboard-settings w-full">
                            <table class="w-3/4 mx-auto">
                                <tr>
                                    <td class="p-4 italic text-gray-500">Nom d'utilisateur</td>
                                    <td class="text-right p-4" contenteditable="false">
                                        <span id="user-name" class="p-4" contenteditable="false">{{ user.username }}</span>
                                        <i class="fa-solid fa-pen hover:cursor-pointer" onclick="modifyUserField('user-name')"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="p-4 italic text-gray-500">Adresse e-mail</td>
                                    <td class="text-right p-4" contenteditable="false">
                                        <span id="user-email" class="p-4" contenteditable="false">{{ user.emailAddress }}</span>
                                        <i class="fa-solid fa-pen hover:cursor-pointer" onclick="modifyUserField('user-email')"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="p-4 italic text-gray-500">Prénom</td>
                                    <td class="text-right p-4" contenteditable="false">
                                        <span id="user-firstName" class="p-4" contenteditable="false">{{ user.userData.firstName }}</span>
                                        <i class="fa-solid fa-pen hover:cursor-pointer" onclick="modifyUserField('user-firstName')"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="p-4 italic text-gray-500">Nom</td>
                                    <td class="text-right p-4" contenteditable="false">
                                        <span id="user-lastName" class="p-4" contenteditable="false">{{ user.userData.lastName }}</span>
                                        <i class="fa-solid fa-pen hover:cursor-pointer" onclick="modifyUserField('user-lastName')"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="p-4 italic text-gray-500">Mot de passe</td>
                                    <td class="text-right p-4 align-top">
                                        <input type="password" id="settings-password" class="w-3/4 py-2 px-4 border-2 border-solid border-gray-300 rounded-md my-2" placeholder="Entrez votre nouveau mot de passe..." onkeyup="checkPasswordsMatchBeforeSubmitting(event);" />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="p-4 italic text-gray-500">Confirmer votre mot de passe</td>
                                    <td class="text-right p-4 align-top">
                                        <input type="password" id="settings-confirm-password" class="w-3/4 py-2 px-4 border-2 border-solid border-gray-300 rounded-md my-2" placeholder="Confirmez votre nouveau mot de passe..." onkeyup="checkPasswordsMatchBeforeSubmitting(event);" />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="p-4 italic text-gray-500">Avatar</td>
                                    <td class="p-4">
                                        <div class="float-right">
                                            <img id="user-avatar-dashboard" class="size-40 object-cover" src="./img/users/{{ user.id }}/profile_pictures/{{ user.userData.avatar }}" alt="Avatar de l'utilisateur : {{ user.username }}" />
                                            <label for="settings-change-avatar" class="w-40 inline-block px-4 py-2 my-4 border-2 border-gray-300 rounded hover:cursor-pointer hover:bg-gray-300 transition-all duration-200 text-center">
                                                <!-- Label acts as the button -->
                                                Modifier votre avatar
                                            </label>

                                            <input type="file" id="settings-change-avatar" class="hidden" onchange="updateUserAvatar(event);" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>

                        <div id="settings-student-information" class="tabcontent-dashboard-settings hidden p-4">
                            <div>
                                <p class="font-semibold text-3xl">
                                    Mes promos
                                </p>

                                <div class="flex flex-col justify-start items-start gap-y-4 my-6">
                                    {% for promotion in user.studentData %}
                                        <details class="w-full odd:bg-gray-200 even:bg-white">
                                            <summary class="text-xl font-semibold p-4 border-b-2 border-b-solid border-b-stone-800 hover:cursor-pointer">
                                                Promotion {{ promotion.prom.year }} ({{ promotion.yearName }})
                                            </summary>

                                            <section class="p-4">
                                                {% if promotion.isDelegate %}
                                                
                                                <div class="flex flex-row justify-start items-center gap-x-4">
                                                    <i class="fa-solid fa-star text-yellow-500"></i>
                                                    <p>
                                                        Délégué
                                                    </p>
                                                </div>

                                                {% else %}

                                                <div class="flex flex-row justify-start items-center gap-x-4">
                                                    <i class="fa-solid fa-star text-stone-800"></i>
                                                    <p>
                                                        Étudiant
                                                    </p>
                                                </div>

                                                {% endif %}
                                                
                                                <ul class="list-disc">
                                                    <li class="ml-8 my-4">Nombre d'étudiants sur cette année : {{ promotion.flags.numberOfStudents }}</li>
                                                    <li class="ml-8 my-4">Délégués de cette promotion :
                                                        {% for delegate in promotion.flags.delegates%}
                                                        <a class="text-blue-600 underline" href="./users/view/{{ delegate.userId }}">{{ delegate.userName }}</a>

                                                        {% if not loop.last %}
                                                        &nbsp;&&nbsp;
                                                        {% endif %}

                                                        {% endfor %}
                                                    </li>
                                                </ul>
                                            </section>
                                        </details>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div id="settings-user-job-information" class="tabcontent-dashboard-settings hidden p-4">
                            <form action="#" class="grid grid-cols-2 gap-4 w-full">
                                <div class="col-span-2 flex flew-row justify-center items-center gap-x-2 w-3/4 mx-auto">
                                    <div>
                                        <label for="settings-company-name" class="underline">Nom de l'entreprise : </label>
                                        <input id="settings-company-name" class="w-full px-4 py-2 border-2 border-solid border-gray-400" type="search" list="settings-job-companies" placeholder="Entrez le nom de votre organisation..." value="{{ user.userJobData.company }}" oninput="searchRegisteredCompanies(event, 'settings-job-companies');" onkeyup="showCompanyPreview(event)"; />
                                    </div><span class="text-xl" onmouseover="showTooltip('search-company-tooltip');">&#x24D8;</span>

                                    <div id="search-company-tooltip" class="hidden">
                                        L'organisation doit être référencée dans la base de données de ce site. <span onclick="openCreateBusinessModal();">Cliquez ici</span> afin de référencer votre organisation.
                                    </div>
                                    <datalist id="settings-job-companies"></datalist>
                                </div>

                                <div>
                                    <label for="settings-position-name" class="underline">Nom du poste : </label><br />
                                    <input type="text" id="settings-position-name" class="px-4 py-2 border-2 border-solid border-gray-400" placeholder="Entrez le nom de votre poste..." value="{{ user.userJobData.position }}" onkeyup="handleJobUpdateKey(event);" />
                                </div>

                                <div>
                                    <img class="hidden size-40 mx-auto object-cover" id="settings-company-data-preview" src="" alt="" />
                                </div>

                                <div>
                                    <label for="settings-position-started" class="underline">Commencé le : </label><br />
                                    <input type="date" id="settings-position-started" class="px-4 py-2 border-2 border-solid border-gray-400" placeholder="Entrez le nom de votre poste..." value="{{ (user.userJobData.startedAt is not null) ? user.userJobData.startedAt|date("Y-m-d") : '' }}" onchange="updateUserJobProfile(event);" />
                                </div>

                                <div class="mx-auto">
                                    <label for="settings-position-ended" class="underline">Terminé le : </label><br />
                                    <input type="date" id="settings-position-ended" class="px-4 py-2 border-2 border-solid border-gray-400" placeholder="Entrez le nom de votre poste..." value="{{ (user.userJobData.stoppedAt is not null) ? user.userJobData.stoppedAt|date("Y-m-d") : '' }}" onchange="updateUserJobProfile(event);" />
                                </div>
                            </form>
                        </div>

                        <div id="settings-privacy" class="tabcontent-dashboard-settings hidden p-4">
                            <div class="flex flex-row justify-start items-center gap-x-2">
                                <label class="inline-flex items-center cursor-pointer">
                                    <input type="checkbox" value="" class="sr-only peer" checked onchange="toggleAnonymousMode(event);">
                                    <div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"></div>
                                </label>
    
                                <p>
                                    Masquer mes informations personnelles aux autres utilisateurs (pseudo, prénom, nom, adresse e-mail, avatar). Cela concerne les channels, la diffusion des offres d'emploi / stage ainsi que toute autre information visible aux autres utilisateurs sur ce site Web. Seuls les administrateurs sont habilités à voir et traiter ces informations.
                                </p>
                            </div>

                            <div class="grid grid-cols-2 gap-4 my-6">
                                {% if 1 in user.studentData|column('isDelegate') %}
                                <button type="button" class="flex flex-row justify-center items-center gap-x-2 w-3/4 mx-auto px-4 py-2 bg-transparent border-stone-300 border-2 border-solid hover:bg-stone-300 hover:cursor-pointer transition-all duration-200">
                                    <img class="size-8 object-cover" src="img/assets/icons/zafkiel_logo.png" alt="Logo de Zafkiel." />
                                    <span>Accéder à Zafkiel</span>
                                </button>
                                {% endif %}

                                <button type="button" class="flex flex-row justify-center items-center gap-x-2 w-3/4 mx-auto px-4 py-2 bg-transparent border-stone-300 border-2 border-solid hover:bg-stone-300 hover:cursor-pointer transition-all duration-200" onclick="gatherUserData();">
                                    Récupérer mes données (portabilité)
                                </button>

                                <button type="button" class="flex flex-row justify-center items-center gap-x-2 w-3/4 mx-auto px-4 py-2 bg-transparent border-red-700 border-2 border-solid hover:bg-red-700 hover:text-white hover:cursor-pointer transition-all duration-200" onclick="deactivateAccount();">
                                    Désactiver mon compte (temporaire)
                                </button>

                                <button type="button" class="flex flex-row justify-center items-center gap-x-2 w-3/4 mx-auto px-4 py-2 bg-transparent border-red-700 border-2 border-solid hover:bg-red-700 hover:text-white hover:cursor-pointer transition-all duration-200" onclick="deleteAccount();">
                                    Supprimer mon compte (définitif)
                                </button>
                            </div>

                            <form action="#" onsubmit="sendQuestion(event);">
                                <h2>Demande de renseignements</h2>
                                <table class="w-full">
                                    <tr>
                                        <td>
                                            <label for="privacy-question-topic">Motif de la demande</label><br />
                                            <select name="question-topic" id="privacy-question-topic" class="px-4 py-2 border-gray-400 border-2 border-solid" oninput="checkForOtherTopicSelection();">
                                                <option value="">Choisir un sujet</option>
                                                <option value="simple-question">Demande de renseignements</option>
                                                <option value="access-right">Demande d'accès à des informations</option>
                                                <option value="limitation-right">Demande de limitation du traitement</option>
                                                <option value="opposition-right">Demande d'opposition au traitement</option>
                                                <option value="modification-right">Demande de modification d'informations</option>
                                                <option value="deletion-right">Demande de suppression d'informations</option>
                                                <option value="other">Autre</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label for="privacy-question-content">Contenu de la demande</label><br />
                                            <div class="w-full border-gray-400 border-2 border-solid p-4" id="privacy-question-content" placeholder="Contenu de votre demande..."></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="submit" value="Envoyer" class="block mx-auto my-4 px-4 py-2 border-gray-400 border-2 border-solid hover:bg-gray-400 hover:cursor-pointer transition-all duration-200" />
                                        </td>
                                    </tr>
                                </table>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="settings-container">

    </div>
</section>

{% endblock content %}

{% block js %}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@2"></script>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>

<script src="./js/Frontend.js"></script>
<script src="./js/AuthManager.js"></script>
<script src="./js/ElementCreator.js"></script>
<script src="./js/Editor.conf.js"></script>
<script src="./js/ChannelUtils.js"></script>
<script src="./js/DashboardUtils.js"></script>

<script>
    const openDashboardTab = (e, target) => {
        let frontend = new Frontend();

        frontend.openTab('tablink-dashboard', 'tabcontent-dashboard', target);

        e.target.classList.add('tablink-dashboard-active');
    };

    const openDashboardSettingsTab = (e, target) => {
        let frontend = new Frontend();

        frontend.openTab('tablink-dashboard-settings', 'tabcontent-dashboard-settings', target);

        e.target.classList.add('tablink-dashboard-settings-active');
    };

    const searchRegisteredCompanies = async (e, targetedDatalist) => {
        let xhr = new AuthManager(),
            request = await xhr.makeAuthenticatedRequest('/companies/search', {
                method: 'POST',
                header: {
                    "Content-Type": 'application/json'
                },
                body: JSON.stringify({input: e.target.value})
            });

        let response = await request.json();

        if (response.error == undefined)
        {
            let elementCreator = new ElementCreator(),
                frontend = new Frontend();
            
            frontend.emptyNode(`#${targetedDatalist}`);
            
            response.data.forEach(company => {
                let option = elementCreator.generate({
                    element: 'option',
                    classes: ''
                });

                option.node.value = company.companyName;
                option.node.textContent = company.companyName;
                elementCreator.append(`#${targetedDatalist}`, option);
            });
        }
    }

    const showCompanyPreview = async (e) => {
        if (e.key === 'Enter')
        {
            let xhr = new AuthManager(),
                request = await xhr.makeAuthenticatedRequest('/companies/get', {
                    method: 'POST',
                    header: {
                        "Content-Type": 'application/json'
                    },
                    body: JSON.stringify({input: e.target.value})
                });

            let response = await request.json();

            if (response.error == undefined)
            {
                let container = document.querySelector('#settings-company-data-preview');
                container.src = 'img/' + response.data.logo;
                container.classList.remove('hidden');

                updateUserProfile(e);
            }
        }
    }

    const handleJobUpdateKey = e => {
        if (e.key === 'Enter') updateUserProfile(e);
    }
</script>

{% endblock js %}