<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>

    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <base href="/" />
</head>
<body>
    <header>

    </header>

    <main class="flex flex-row justify-between items-start gap-x-4">
        <aside class="w-1/5 bg-gray-100 h-screen py-4 overflow-y-auto">
            {# This section for the useful links, toolkit, etc. #}
        
            <nav class="my-2 mx-6">
                <div class="px-4 py-2 rounded-xl bg-gray-300">
                    <p class="font-semibold text-center text-2xl">Liens utiles</p>
                </div>

                <div class="flex flex-row justify-start items-center gap-x-4 my-4 rounded-xl px-4 py-2 hover:bg-gray-300 hover:cursor-pointer transition-all duration-300" onclick="window.location.href = '/';">
                    <img class="size-10 inline-block" src="./img/assets/icons/quotation_mark.png" alt="" />
                    <p>
                        Accueil
                    </p>
                </div>

                <div class="flex flex-row justify-start items-center gap-x-4 my-4 rounded-xl px-4 py-2 hover:bg-gray-300 hover:cursor-pointer transition-all duration-300">
                    <img class="size-10 inline-block" src="./img/assets/icons/quotation_mark.png" alt="" />
                    <p>
                        Documentation
                    </p>
                </div>

                <div class="flex flex-row justify-start items-center gap-x-4 my-4 rounded-xl px-4 py-2 hover:bg-gray-300 hover:cursor-pointer transition-all duration-300" onclick="window.location.href = './dashboard';">
                    <img class="size-10 inline-block" src="./img/assets/icons/picture_user.png" alt="" />
                    <p>
                        Mon espace
                    </p>
                </div>

                <div class="flex flex-row justify-start items-center gap-x-4 my-4 rounded-xl px-4 py-2 hover:bg-gray-300 hover:cursor-pointer transition-all duration-300" onclick="window.location.href = './channels/list';">
                    <img class="size-10 inline-block" src="./img/assets/icons/picture_channel.png" alt="" />
                    <p>
                        Liste des channels
                    </p>
                </div>

                <div class="flex flex-row justify-start items-center gap-x-4 my-4 rounded-xl px-4 py-2 hover:bg-gray-300 hover:cursor-pointer transition-all duration-300" onclick="window.location.href = './announces/list';">
                    <img class="size-10 inline-block" src="./img/assets/icons/picture_megaphone.png" alt="" />
                    <p>
                        Liste des annonces
                    </p>
                </div>

                <div class="flex flex-row justify-start items-center gap-x-4 my-4 rounded-xl px-4 py-2 hover:bg-gray-300 hover:cursor-pointer transition-all duration-300" onclick="window.location.href = './jobs/offers/list';">
                    <img class="size-10 inline-block" src="./img/assets/icons/picture_open_book.png" alt="" />
                    <p>
                        Offres d'emplois / stages
                    </p>
                </div>

                <div class="flex flex-row justify-start items-center gap-x-4 my-4 rounded-xl px-4 py-2 hover:bg-gray-300 hover:cursor-pointer transition-all duration-300">
                    <img class="size-10 inline-block" src="./img/assets/icons/zafkiel_logo.png" alt="" />
                    <p>
                        Backoffice
                    </p>
                </div>
            </nav>

            <div class="my-2 mx-6">
                <div class="px-4 py-2 rounded-xl bg-gray-300">
                    <p class="font-semibold text-center text-2xl">Mes channels</p>
                </div>

                {% for membership in global_user_channels %}

                <div class="relative flex flex-row justify-start items-center gap-x-4 h-16 hover:cursor-pointer hover:bg-gray-400 transition-all duration-200 rounded-xl my-4 p-4" onclick="window.location.href = './channels/{{ membership.channel.id }}';">

                    <div class="absolute top-0 left-0 z-10 w-full h-full">
                        <img class="w-full h-full object-cover opacity-40 rounded-xl" src="./img/channels/{{ membership.channel.id }}/thumbnails/{{ membership.channel.thumbnail }}" alt="Miniature pour le channel : {{ membership.channel.name }}" />
                    </div>
                
                    <p class="text-xl font-semibold z-20">
                        {{ membership.channel.name }}
                    </p>
                </div>

                {% endfor %}
            </div>
        </aside>

        {% block content %}
        {% endblock content %}

        <aside class="w-1/5 bg-gray-100 h-screen py-4 overflow-y-auto">

            {# This section for the global updates #}
            <div class="mx-6">
                <div class="px-4 py-2 rounded-xl bg-gray-300">
                    <p class="font-semibold text-center text-2xl">Nouveautés publiques</p>
                </div>

                <div class="group overflow-hidden my-4 rounded-md bg-gray-300 hover:cursor-pointer transition-all duration-300">

                    <div class="px-4 py-2 text-lg">
                        Rentrée 2025
                    </div>
                    <div class="max-h-0 overflow-hidden bg-gray-50 transition-all duration-500 group-hover:max-h-40">
                        <p class="p-2 border-2 border-gray-300 border-solid">
                            Rentrée 2025, à 10h pour les M1 en A104, et à 14h pour les M2, dans la même salle.
                        </p>
                    </div>
                </div>

                <div class="group overflow-hidden my-4 rounded-md bg-gray-300 hover:cursor-pointer transition-all duration-300">
                    <div class="px-4 py-2 text-lg">
                        Lancement du site pour les Alumnis du Master TCSN
                    </div>
                    <div class="max-h-0 overflow-hidden bg-gray-50 transition-all duration-500 group-hover:max-h-40">
                        <p class="p-2 border-2 border-gray-300 border-solid">
                            Bienvenue ! Le site pour les Alumnis du Master TCSN de La Rochelle est enfin lancé.
                        </p>
                    </div>
                </div>
            </div>

        </aside>
    </main>

    <footer>

    </footer>

    {% block js %}
    {% endblock js %}
</body>
</html>